<ul class="m-b-0 ">
  <li class="clearfix">
    <div id="message-id" data-message-id="<%= message.user.id %>"></div>

    <div class="message other-message float-right"><%= "#{message.content}" %></div>
  </li>
</ul>
