<div class = "container p-5">
  <h1 class= "text-center p-md-4">Plants </h1>
  <p class="text-end"><%= link_to 'New Plant', new_plant_path, class: 'btn btn-secondary'  %></p>
  <div class = "row row-cols-1 row-cols-md-3 g-4">
    <% @plants.each do |plant| %>
    <div class="col">
      <div class="card h-100">
        <div >
          <% if plant.avatar.attached? %>
          <%= image_tag plant.avatar, class:'card-img-top image_style'%>
          <% else %>
          <% end %>
        </div>
        <div class="card-body ">
          <h5 class="card-title"><%= link_to plant.name, plant %></td>
          <h5><%= plant.address %></h5>
        </div>
      </div>
    </div>
    <% end %>
  </div><br />
</div>
