
<div class = "row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <div class= "container vehicle">
      <div class="text-center mt-4"></br></br>
        <%= form_with(model: @room) do |form| %>
          <div class="row justify-content-md-center">
            <div class="col-8">
              <%= form.text_field :name , class:'form-label form-control', placeholder: 'Name'%>
              <div class="actions text-start">
                <%= link_to 'Back', @plant %>
                <%= form.submit "Save", class: 'btn btn-success' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>