

<div class = "container-sm new-vehicle">
    <h2 class = 'text-center p-4'>New vehicle</h2>
    <%= render 'form', vehicle: @vehicle %></br>    
    <div class="row justify-content-md-center">
        <div class="col-md-5">
        <%= link_to 'Back', vehicles_path, class: 'btn btn-secondary'%></br></br></br></br></br></br></br></br>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
<style>
.new-vehicle{
    background: #31a9e1;  
}