<div class = "container p-md-5 new-vehicle">
	<h2 class = 'text-center p-4'>New Vehicle</h2>
	<%= render 'form', vehicle: @vehicle %></br>    
	<div class="row justify-content-md-center">
</div>
<%= render 'layouts/footer' %>
