<div class = "container p-5">
  <h1 class= "text-center p-md-4">Materials</h1>
    <p class="text-end"><%= link_to 'New Material', new_material_path(plant_id: @plan_id), class: 'btn btn-secondary'  %></p>
    <div class = "row row-cols-1 row-cols-md-3 g-4">
      <% @materials.each do |material| %>
      <div class="col-4">
        <div class="card h-100" style="width: 16rem;">
          <div >
            <% if material.avatar.attached? %>
              <%= image_tag material.avatar, class:'card-img-top image_style'%> 
            <% else %>
            <% end %>
          </div>
          <div class="card-body ">
            <h5 class="card-title"><%= link_to material.name, material   %></h5>
            <h5><%= material.cost %></h5>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <br>
</div>


