<div class= "footer pt-4 h-104 fixed-bottom">
      <ul class="list-inline">
            © 2020 Copyright: <a class="text-light">transproters</a>
          <li class="list-inline-item position-absolute bottom-2 end-0">
            <a href="https://github.com/sahilkhan1432k" role="button"><i class="bi-github text-end"></i></a>
            <a href="https://web.facebook.com/sahil143n"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/sahilkhan1432k2020/"><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-twitter"></i></a>
            <%= link_to 'About Us ', home_about_path , class:'text-gray-400 p-3' %>
          </li>
      </ul>
</div>
