<!-- Footer -->
<footer>

  <div class= "footer pt-4 h-104 fixed-bottom">
    
    <div class="row">
      <div class = " col-7"> <span>© 2021 Transporter</span> </div>
      <div class = "col-5 d-flex justify-content-end" >
        <ul class="list-inline ">
        <li class="list-inline-item mr-3"><a class="text-light" href="/contact_us">Contact Us</a></li>
        <li class="list-inline-item mr-3"><a class="text-light" href="/faq">FAQs</a></li>
        <li class="list-inline-item mr-3"><a class="text-light" href="/terms">Terms of Service</a></li>
        <li class="list-inline-item mr-3"><a class="text-light " href="/privacy">Privacy</a></li>
        <li class="list-inline-item mr-3"><a class="text-light p-3" href="/about_us">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
<!-- Footer -->
<style>
.footer
{
  background-color: #563d7c;
  color: rgba(255,255,255,0.85);
}