<footer>

  <div class= "footer pt-4 h-104 fixed-bottom">
    <div class="row-2">
      <div class="col-7">
        © 2020 Copyright: <a class="text-light" href="/">transproters</a>
      </div>
      
      <div class = "col-5 d-flex justify-content-end" >
        <ul class="list-inline ">
        <a href="https://github.com/sahilkhan1432k" role="button"><i class="bi-github"></i></a>
        <a href="https://web.facebook.com/sahil143n"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/sahilkhan1432k2020/"><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-twitter"></i></a>

        <li class="list-inline-item mr-3"><%= link_to 'About Us ', home_about_path , class:'text-gray-400 p-3' %></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
